<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>やせいのちず</title>
  <link rel="stylesheet" href="css/beast.css">
  <!-- Important Owl stylesheet -->
  <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
  <!-- Default Theme -->
  <link rel="stylesheet" href="owl-carousel/owl.theme.css">
</head>
<body ng-controller=BeastCtrl>
  <h1>やせいのちず</h1>
  <div id="canvas"></div>
  <div id="owl-example" class="owl-carousel">
    <div ng-repeat="beast in beasts">
      <table class="beast" ng-click="click(beast.name)">
        <tr>
          <td><img alt="{{beast.name}}" src="{{beast.imageUrl}}"></td>
        </tr>
        <tr>
          <td>
            <span>{{beast.name}}</span>
            <a href="{{beast.citeUrl}}">出展</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <footer>
    <a href="license.html">ライセンス</a>
  </footer>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>

  <!--  jQuery 1.7+  -->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <!-- Include js plugin -->
  <script src="owl-carousel/owl.carousel.js"></script>

  <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="js/beast.js"></script>
</body>
</html>
